*.xcbkptlist
Timekeeper.xcodeproj/xcuserdata/
Timekeeper.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Timekeeper.xcworkspace/contents.xcworkspacedata
Timekeeper.xcworkspace/xcuserdata/
Pods/Pods.xcodeproj/xcuserdata
